.advantages {
  @include margin-auto;
  @include roboto-condensed(400);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: $dark-blue;
  max-width: 1160px;
  width: 76.13%;
}

.advantages::before,
.advantages::after {
  position: absolute;
  content: "";
  top: 63.2%;
  width: 32.6%;
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);
}

.advantages::before {
  left: 0;
}

.advantages::after {
  right: 0;
}

.advantages h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 69px;
  width: 100%;
}

.advantages__wrapper {
  @include margin-auto;
  display: flex;
  justify-content: space-between;
  width: 98.4%;
  padding-left: 22px;

  &--bottom {
    padding-left: 12px;
  }
}

.advantages__article {
  display: flex;
  position: relative;
  width: 329px;
}

.advantages__label {
  margin-right: 28px;
}

.advantages__label p {
  font-size: 14px;
  line-height: 21px;
  color: $light-blue;
  margin-left: -4px;
  margin-top: 2px;
  margin-bottom: 0;
}

.advantages__text {
  max-width: 188px;

  &--right {
    max-width: 230px;
  }
}

.advantages__text h3 {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-left: 5px;
  margin-bottom: 8px;
}

.advantages__text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-left: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages__article-center {
  @include margin-auto;
  background-color: $dark-blue;
  align-self: flex-start;
  color: $white;
  text-align: center;
  margin-top: -77px;
  margin-bottom: -74px;
  width: 23.18%;
}

.advantages__article-center h3 {
  font-size: 74px;
  line-height: 74px;
  margin-top: 53px;
  margin-bottom: 3px;
}

.advantages__center-label {
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  margin-top: 0;
  margin-bottom: 32px;
}

.advantages__center-text {
  @include margin-auto;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 58px;
  width: 75%;
}


//
@media (max-width: $tablet-max-width) {
  .advantages {
    max-width: 780px;
    width: 88.28%;
    min-width: 678px;
  }

  .advantages::before,
  .advantages::after {
    display: none;
  }

  .advantages h2 {

    margin-bottom: 50px;
  }

  .advantages__wrapper {
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .advantages__article {
    width: 47.5%;
    margin-bottom: 0;
  }

  .advantages__label p {
    margin-left: 0;
  }

  .advantages__article:nth-of-type(odd) img {
    width: 85px;
    height: 41px;
  }

  .advantages__article:nth-of-type(even) img {
    width: 55px;
    height: 41px;
  }

  .advantages__text h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .advantages__article-center {
    @include margin-auto;
    width: 65.2%;
    min-width: 442px;
    min-height: 239px;
    margin-top: 42px;
    margin-bottom: 48px;
  }

  .advantages__article-center h3 {
    margin-top: 33px;
    margin-bottom: 0;
  }

  .advantages__center-label {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px;
  }

  .advantages__center-text {
    margin-top: 0;
    margin-bottom: 37px;
    width: 40%;
  }
}

//
@media (max-width: $mobile-max-width) {
  .advantages {
    max-width: 380px;
    width: 100%;
    min-width: 320px;
  }

  .advantages h2 {
    margin-bottom: 52px;
  }

  .advantages__wrapper {
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    flex-direction: column;
  }

  .advantages__article {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 41px;
    width: 100%;
  }

  .advantages__label {
    margin-right: 0;
    text-align: center;
  }

  .advantages__text {
    @include margin-auto;
    text-align: center;
    padding-top: 12px;
    width: 72.3%;
    max-width: 100%;
  }

  .advantages__text h3 {
    margin-bottom: 6px;
  }

  .advantages__article-center {
    width: 100%;
    min-width: 320px;
    margin-top: 4px;
    margin-bottom: 48px;
  }

  .advantages__article-center h3 {
    margin-top: 42px;
    line-height: 64px;
  }

  .advantages__center-label {
    margin-bottom: 10px;
  }

  .advantages__center-text {
    width: 55%;
  }
}
