.contacts {
  display: flex;
  flex-wrap: wrap;
  color: $dark-blue;
  padding-top: 67px;
  padding-bottom: 47px;
  padding-left: 124px;
  width: 50%;
}

.contacts h2 {
  margin-top: 0;
  margin-bottom: 44px;
  width: 100%;
}

.contacts__side {
  @include roboto-condensed(400);
  margin-right: 21.5%;
  width: 30.41%;
}

.contacts__side:nth-of-type(2n) {
  margin-right: 0;
}

.contacts__item {
  margin-bottom: 17px;
}

.contacts__item h3 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 3px;
}

.contacts__item p {
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
}

.contacts__item a {
  color: $dark-blue;
  text-decoration: none;
}

.contacts__item a:hover {
  opacity: 0.5;
}

//
@media (max-width: $tablet-max-width) {
  .contacts {
    @include margin-auto;
    padding-left: 32px;
    padding-bottom: 43px;
    min-width: 564px;
    width: 73.43%;
    max-width: 580px;
  }

  .contacts h2 {
    margin-bottom: 35px;
  }

  .contacts__side {
    margin-right: 95px;
    width: 41%;
  }

  .contacts__item {
    margin-bottom: 19px;
  }

  .contacts__item h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
  }

  .contacts__item p {
    font-size: 18px;
    line-height: 27px;
  }
}

//
@media (max-width: $mobile-max-width) {
  .contacts {
    @include margin-auto;
    padding-left: 0;
    padding-bottom: 44px;
    min-width: 290px;
    width: 90.62%;
    max-width: 320px;
  }

  .contacts h2 {
    margin-bottom: 37px;
  }

  .contacts__side {
    margin-right: 0;
    width: 100%;
  }
}
