.contacts {
  display: flex;
  flex-wrap: wrap;
  color: $dark-blue;
  padding-top: 67px;
  padding-bottom: 47px;
  padding-left: 124px;
  width: 50%;
}

.contacts h2 {
  margin-top: 0;
  margin-bottom: 44px;
  width: 100%;
}

.contacts__side {
  @include roboto-condensed(400);
  margin-right: 21.5%;
  width: 30.41%;
}

.contacts__side:nth-of-type(2n) {
  margin-right: 0;
}

.contacts__item {
  margin-bottom: 17px;
}

.contacts__item h3 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 3px;
}

.contacts__item p {
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
}

.contacts__item a {
  color: $dark-blue;
  text-decoration: none;
}

//
@media (max-width: $tablet-max-width) {
  .contacts {
    @include margin-auto;
    padding-left: 0;
    min-width: 564px;
    width: 73.43%;
    max-width: 580px;
  }
}

