.footer {
  @include margin-auto;
  display: flex;
  padding-top: 42px;
  padding-bottom: 36px;
  width: 84.91%;
  max-width: 1160px;
}

.footer a {
  @include roboto-condensed(400);
  color: $white;
  text-decoration: none;
}

.footer a:hover {
  opacity: 0.5;
}

.footer__side {
  display: flex;
  width: 48.96%;
}

.footer__logo {
  margin-right: 276px;
}

.footer__list {
  @include zero-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__list-item {
  font-size: 14px;
  line-height: 16px;
  margin-right: 40px;
}

.footer__social {
  @include zero-list;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.footer__social-item {
  margin-right: 25px;
}

.footer__social-item:last-of-type {
  margin-right: 0;
}

//
@media (max-width: $tablet-max-width) {
  .footer {
    padding-top: 44px;
    padding-bottom: 40px;
    width: 88.28%;
    min-width: 678px;
  }

  .footer__side {
    width: auto;
  }

  .footer__logo {
    padding-top: 3px;
    margin-right: 62px;
  }

  .footer__logo img {
    width: 82px;
    height: 18px;
  }

  .footer__list-item {
    margin-right: 30px;
  }

  .footer__social-item {
    margin-right: 20px;
  }
}

//
@media (max-width: $mobile-max-width) {
  .footer {
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 47px;
    min-width: 290px;
    width: 90.62%;
  }

  .footer__side {
    flex-direction: column;
    margin-right: 44px;
    width: 40%;
  }

  .footer__side:nth-of-type(2n) {
    margin-right: 0;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__logo img {
    width: 68px;
    height: 15px;
  }

  .footer__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__list-item {
    font-size: 16px;
    line-height: 19px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__social {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .footer__social-item {
    margin-right: 35px;
  }

  .footer__social-item--vk img {
    width: 32px;
    height: 17px;
  }

  .footer__social-item--instagramm img {
    width: 27px;
    height: 27px;
  }

  .footer__social-item--fb img {
    width: 14px;
    height: 27px;
  }
}
