.form-contacts-wrapper {
  @include margin-auto;
  display: flex;
  width: 100%;
  max-width: 1366px;
}

//
@media (max-width: $tablet-max-width) {
  .form-contacts-wrapper {
    flex-direction: column;
  }
}

//
@media (max-width: $tablet-max-width) {
  .form-contacts-wrapper {
    margin-bottom: 0;
  }
}
