.form {
  background-color: $dark-blue;
  color: $white;
  padding-top: 65px;
  padding-bottom: 68px;
  width: 50%;
}

.form__body {
  @include roboto-condensed(400);
  margin-left: 15.08%;
}

.form__body h2 {
  margin-top: 0;
  margin-bottom: 47px;
}

.form__body input {
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-bottom: 1px solid #74819c;
  background-color: $dark-blue;
  color: $white;
  margin-bottom: 28px;
  margin-right: 26px;
  padding-bottom: 5px;
  width: 190px;
}

.form__body input::placeholder {
  color: $white;
}

.form__body button {
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 3px solid $white;
  width: 412px;
  height: 56px;
}

//
@media (max-width: $tablet-max-width) {
  .form {
    width: 100%;
    padding-top: 67px;
  }

  .form__body {
    @include margin-auto;
    padding-left: 32px;
    min-width: 564px;
    width: 73.43%;
    max-width: 580px;
  }

  .form__body h2 {
    margin-bottom: 40px;
  }

  .form__body input {
    margin-bottom: 28px;
    margin-right: 56px;
    padding-bottom: 5px;
    width: 205px;
  }

  .form__body button {
    margin-left: -3px;
    width: 475px;
    height: 55px;
  }
}

//
@media (max-width: $mobile-max-width) {
  .form {
    padding-top: 67px;
  }

  .form__body {
    padding-left: 0;
    min-width: 290px;
    width: 90.62%;
  }

  .form__body input {
    margin-bottom: 38px;
    width: 100%;
  }

  .form__body button {
    margin-left: 0;
    width: 100%;
  }
}
