.gym {
  @include margin-auto;
  position: relative;
  display: flex;
  padding-top: 120px;
  margin-bottom: 230px;
  width: 84.91%;
  max-width: 1160px;
  color: $dark-blue;
}

.gym__text {
  margin-left: 5.17%;
  margin-right: 7.65%;
  width: 30.27%;
  min-width: 283px;
}

.gym__text h2 {
  @include bebas;
  margin-top: 44px;
  margin-bottom: 11px;
}

.gym__text span {
  @include roboto-condensed(400);
  display: block;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 40px;
}

.gym__text p {
  @include roboto-condensed(300);
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 7px;
}

.gym__video {
  position: absolute;
  bottom: -111px;
  left: 437px;
  width: 364px;
  height: 228px;
  background-image: url("../img/video.png");
  background-position: center top;
  background-repeat: no-repeat;
}

//
@media (max-width: $tablet-max-width) {
  .gym {
    flex-wrap: wrap;
    padding-top: 74px;
    margin-bottom: 179px;
    width: 88.28%;
    min-width: 678px;
  }

  .gym__text {
    @include margin-auto;
    width: 74.04%;
    text-align: center;
    margin-bottom: 36px;
  }

  .gym__text h2 {
    margin-top: 24px;
    margin-bottom: 11px;
  }

  .gym__text span {
    margin-bottom: 33px;
  }

  .gym__text p:not(:first-of-type) {
    display: none;
  }

  .gym__picture {
    @include margin-auto;
  }

  .gym__picture img {
    width: 678px;
    height: 345px;
  }

  .gym__video {
    bottom: -80px;
    left: calc(50% - 133px);
    width: 266px;
    height: 167px;
    background-size: contain;
  }
}

//
@media (max-width: $mobile-max-width) {
  .gym {
    flex-wrap: wrap;
    padding-top: 44px;
    margin-bottom: 48px;
    width: 100%;
    min-width: 320px;
    max-width: 380px;
  }

  .gym__text {
    width: 90.62%;
    text-align: left;
    margin-bottom: 26px;
  }

  .gym__text h2 {
    margin-bottom: 8px;
  }

  .gym__text span {
    margin-bottom: 23px;
  }

  .gym__text p {
    padding-right: 27px;
  }

  .gym__picture {
    margin-bottom: 36px;
  }

  .gym__picture img {
    width: 100%;
    max-width: 450px;
    height: 313px;
  }

  .gym__video {
    @include margin-auto;
    position: static;
    width: 320px;
    height: 167px;
    background-size: cover;
  }
}
