.header {
  @include margin-auto;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-right: 2px;
  width: 84.91%;
  min-width: 1000px;
  max-width: 1160px;
}

.header a:hover {
  opacity: 0.5;
}

.header__logo {
  padding-top: 3px;
}

.header__phone {
  @include bebas;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $white;
}

//
@media (max-width: $tablet-max-width) {
  .header {
    padding-top: 38px;
    margin-bottom: 25px;
    width: 88.28%;
    min-width: 678px;
  }

  .header__logo img {
    width: 82px;
    height: 17px;
  }

  .header__phone {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}

//
@media (max-width: $mobile-max-width) {
  .header {
    padding-top: 18px;
    margin-bottom: 25px;
    width: 90.62%;
    min-width: 290px;
  }

  .header__logo img {
    width: 68px;
    height: 15px;
  }

  .header__phone {
    font-size: 20px;
    line-height: 20px;
  }
}
