.header {
  @include margin-auto;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-right: 2px;
  width: 84.91%;
  min-width: 1000px;
  max-width: 1160px;
}

.header a:hover {
  opacity: 0.5;
}

.header__logo {
  padding-top: 3px;
}

.header__phone {
  @include bebas;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $white;
}
