.stock {
  @include margin-auto;
  color: $dark-blue;
  margin-bottom: 69px;
  max-width: 1160px;
  width: 84.91%;
}

.stock h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 55px;
}

.stock a {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.stock a:hover {
  opacity: 0.5;
}

.stock__article {
  @include roboto-condensed(400);
  display: flex;
  justify-content: space-between;
}

.stock__main-stock {
  display: flex;
  align-self: flex-start;
  background-color: $scarlet;
  color: $white;
  width: 48.27%;
}

.stock__main-stock picture {
  align-self: stretch;
  min-width: 280px;
}

.stock__article img {
  display: block;
  float: left;
  height: 100%;
}

.stock__main-time {
  font-weight: bold;
  font-size: 28px;
  line-height: 44px;
  margin-left: 16.1%;
  margin-top: 33px;
  margin-bottom: 10px;
}

.stock__main-price {
  font-weight: bold;
  font-size: 70px;
  line-height: 40px;
  margin-left: 16.1%;
  margin-top: 0;
  margin-bottom: 35px;
}

.stock__main-text {
  font-size: 18px;
  line-height: 25px;
  margin-left: 16.1%;
  margin-top: 0;
  width: 70%;
}

.stock__main-stock a {
  display: block;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  margin-left: 16.1%;
  margin-top: 188px;
  margin-bottom: 30px;
}

.stock__list {
  @include zero-list;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  width: 48.27%;
}

.stock__item {
  position: relative;
  background-color: $white;
  margin-bottom: 54px;
  padding-top: 18px;
  padding-left: 28px;
  padding-bottom: 27px;
  width: 100%;
}

.stock__item::after {
  position: absolute;
  content: "";
  top: -7px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  background-image: linear-gradient(to bottom right, #d10a42 0%, #00359f 100%);
  z-index: -1;
}

.stock__list-offer {
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  margin-top: 0;
  margin-bottom: 3px;
}

.stock__list-text {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 70px;
}

.stock__item a {
  color: $dark-blue;
  font-size: 12px;
  line-height: 14px;
}

//
@media (max-width: $tablet-max-width) {
  .stock {
    margin-bottom: 58px;
    width: 678px;
  }

  .stock h2 {
    margin-bottom: 43px;
  }

  .stock__article {
    flex-direction: column;
  }

  .stock__main-stock {
    width: 100%;
    margin-bottom: 32px;
    justify-content: space-between;
  }

  .stock__main-offer {
    width: 41.15%;
    min-width: 279px;
  }

  .stock__main-stock img {
    min-width: 399px;
    width: 55.9%;
  }

  .stock__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .stock__item {
    width: 46.68%;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
  }

  .stock__list-text {
    margin-bottom: 47px;
  }

  .stock__item a {
    margin-top: auto;
  }
}

//
@media (max-width: $mobile-max-width) {
  .stock {
    margin-bottom: 30px;
    width: 290px;
  }

  .stock h2 {
    margin-bottom: 45px;
  }

  .stock__main-stock {
    flex-direction: column;
  }

  .stock__main-offer {
    @include margin-auto;
    text-align: center;
    padding-bottom: 16px;
  }

  .stock__main-time {
    margin-left: 0;
  }

  .stock__main-price {
    margin-left: 0;
    margin-bottom: 29px;
  }

  .stock__main-text {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 30px;
    width: 72%;
  }

  .stock__main-stock a {
    margin-top: 2px;
    margin-left: 0;
  }

  .stock__main-stock img {
    min-width: 290px;
    width: 290px;
    max-width: 290px;
    height: 299px;
  }

  .stock__list {
    flex-direction: column;
  }

  .stock__item {
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 41px;
  }

  .stock__list-offer {
    margin-top: 9px;
  }

  .stock__list-text {
    @include margin-auto;
    display: inline-block;
    width: 60%;
    margin-bottom: 27px;
  }
}
