.top-wrapper {
  background-image: url("../img/background-main.png"),
    radial-gradient(33.97% 69.22% at 16.03% 39.06%, #003d85 99.48%, #b80027 99.03%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 44px;
}

//
@media (max-width: $tablet-max-width) {
  .top-wrapper {
    padding-bottom: 55px;
    background-position-x: 10%;
  }
}

//
@media (max-width: $mobile-max-width) {
  .top-wrapper {
    padding-bottom: 29px;
    background-position-x: 10%;
  }
}
