.button {
  @include roboto-condensed(700);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: currentColor;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: transparent;
}

.button:hover {
  opacity: 0.5;
}

.button:focus {
  outline: 3px solid invert;
}
